body,
p {
  margin: 0;
  font-family: "Teko", sans-serif;
  font-size: 1em;
}

.title {
  font-size: 3.5em;
  text-align: center;
  opacity: 1;
  animation: flicker 1s ease-in-out 5;
}

@keyframes flicker {
  50% {
    opacity: 0;
    color: rgb(128, 128, 8);
  }
}

.container {
  margin: 0 60px;
  display: grid;
  grid-template-rows: 1fr;
  justify-items: center;
  grid-gap: 5px;
}
/*---CURRENT TIME---*/
.current-time__text {
  font-size: 1.3em;
}

/*---TIME INPUT---*/
.time-selection__input {
  padding: 20px;
  border: 2px solid black;
  border-radius: 5px;
}

.time-selection__label {
  margin: 0;
  font-size: 1.3em;
}

/*---CLOCK---*/

.clock {
  margin: 20px;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  border: 14px solid #7f804f;
  position: relative;
}

.clock__time {
  font-size: 3em;
  position: absolute;
  top: 39%;
  left: 37%;
}
